* {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300px;
}

.btn {
  height: 30px;
  margin: 20px;
}

.container {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  justify-content: space-evenly;

}

h3 {
  font-size: xx-large;
  font-weight: 900;
}

.detail1 {

  width: 500px;
  height: 500px;
}

.detail2 {
  width: 500px;
  margin-left: -320px;
  height: 500px;
  display: flex;
  flex-direction: column;

}

.deta {
  margin-top: 80px;
  margin-left: 90px;
}

.top {
  display: flex;
  flex-direction: row;
  width: 800px;
}

.border {
  display: flex;
  flex-direction: row;
}

.border p {
  position: relative;
  margin-top: 40px;
}

.rows {
  padding: 10px;
  margin: 10px;
}

@media (max-width:376px) {


  .container {
    flex-direction: column;
    margin-top: 50px;
    width: 95%;
  }

  h3 {
    font-size: xx-large;
    font-weight: 900;
  }

  .detail1 {

    width: auto;
    height: auto;
  }

  .detail2 {
    width: auto;
    height: auto;
    flex-direction: column;
    margin-left: 0px;
  }

  .deta {
    margin-top: 0px;
    margin-left: 0px;
  }

  .top {
    flex-direction: column;
    width: auto;
  }

  .border {
    flex-direction: row;
  }

  .border p {
    position: relative;
    margin-top: 0px;
  }

  .rows {
    padding: 0px;
    margin: 0px;
  }

  .detail1 img {
    width: 250px;
    height: 250px;
  }
}
