<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&display=swap" rel="stylesheet">

<a href="" (click)='backHome()'><button class="btn"><i class="fa fa-arrow-left"></i>Back Home</button></a>
<section class="gridd">
  <article class="article">

    <div class="countries">
      <div *ngIf="checkEqual">
        <div class="container">
          <div class="detail1" id="flag">
            <img src="{{country[1].flag}}" alt="name" width="500px" height="500px">
          </div>

          <div class="detail2">
            <div class="top">
              <div class="left" id="details">
                <h3>{{country[1].name}}</h3>
                <h4>Native Name:<span>{{country[1].nativeName}}</span></h4>
                <h4>Population:<span>{{country[1].population}}</span></h4>
                <h4>Region:<span>{{country[1].region}}</span></h4>
                <h4>Sub Region:<span>{{country[1].subregion}}</span></h4>
                <h4>Capital:<span>{{country[1].capital}}</span></h4>
              </div>

              <div class="deta" id="deta">
                <h4>Top Level Domain:<span>{{country[1].topLevelDomain}}</span></h4>
                <h4>Currencies:<span>{{country[1].currencies[0].name}}</span></h4>
                <h4>Languages:<span>{{country[1].languages[0].name}}</span></h4>
              </div>
            </div>
            <div class="border">
              <p>Border onlyCountryCountries:</p>
              <div *ngFor='let border of country[1].borders'>
                <div class="rows">
                  <h4><button><span>{{border}}</span></button></h4>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </article>
</section>
