<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&display=swap" rel="stylesheet">

<section class="filter">
  <form class="form">

    <input type="text" class="input" placeholder="Search for a country" onfocus="" (keyup)='onSearch($event)'
      (ngModel)='selectedRegion' [(ngModel)]='filterString' name="filter">
  </form>
  <div>
    <select name="select" id="select" class="select" (click)='onSelectCountry($event)'>

      <option value="Filter by region">Filter By Region</option>
      <option value="Africa">Africa</option>
      <option value="America">America</option>
      <option value="Asia">Asia</option>
      <option value="Europe">Europe</option>
      <option value="Oceania">Oceania</option>
    </select>
  </div>
</section>




<app-country-details [filterString]="filterString" [selectedRegion]='selectedRegion'></app-country-details>
