* {
  font-family: 'Nunito Sans', sans-serif;
}

.filter {
  /* background-color: white; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 2px 2px 5px #888888;
  padding: 20px;
}

.input {
  width: 476px;
  height: 56px;
  border: 1px solid #BDBDBD;
  box-sizing: border-box;
  border-radius: 12px;
  font-size: 14px;
}

.select {
  width: 256px;
  height: 56px;
  border: 1px solid #BDBDBD;
  box-sizing: border-box;
  border-radius: 12px;
  font-size: 14px;
  /* background-color: white; */
}

@media (max-width:376px) {
  .filter {
    /* background-color: white; */
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 5px #888888;
    padding: 0px;
    margin-left: -175px;
  }

  .input {
    width: 186px;
    height: 36px;
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 12px;
    font-size: 14px;
  }

  .select {
    width: 186px;
    height: 36px;
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 12px;
    font-size: 14px;
    /* background-color: white; */
  }
}

* {
  font-family: 'Nunito Sans', sans-serif;
}

.filterr {
  /* background-color: rgb(74, 74, 109); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 2px 2px 5px #888888;
  padding: 20px;
}

.inputt {
  width: 476px;
  height: 56px;
  border: 1px solid #BDBDBD;
  box-sizing: border-box;
  border-radius: 12px;
  font-size: 14px;

}

.selectt {
  width: 256px;
  color: white;
  height: 56px;
  border: 1px solid #BDBDBD;
  box-sizing: border-box;
  border-radius: 12px;
  font-size: 14px;
  /* background-color: rgb(74, 74, 109); */
}

@media (max-width:376px) {
  .filter {
    /* background-color: rgb(74, 74, 109); */
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 5px #888888;
    padding: 0px;
    margin-left: -175px;
  }

  .inputt {
    width: 186px;
    height: 36px;
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 12px;
    font-size: 14px;


  }

  .selectt {
    width: 186px;
    color: white;
    height: 36px;
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 12px;
    font-size: 14px;
    /* background-color: rgb(74, 74, 109); */
  }
}
