<div class="grid">
  <section class="gridd">
    <article class="article" (click)='detailPage($event)'>
      <div class="countries" *ngFor='let country of countries | filter:selectedRegion | filterRegion:filterString'
        [routerLink]="['countries',country[1].name]" (click)='onClick(country[1].name)'>
        <img src="{{country[1].flag}}" alt="name" width="300px" height="300px">
        <div class="details">
          <h3>{{country[1].name}}</h3>
          <h4>Population:<span>{{country[1].population}}</span></h4>
          <h4>Region:<span>{{country[1].region}}</span></h4>
          <h4>Capital:<span>{{country[1].capital}}</span></h4>
          <a href="" (click)='detailPage($event)'><button>More
              Details</button></a>
          <a href="" (click)=' onDelete(country[1].numericCode)' class="remove"><button>
              Delete</button></a>
        </div>
      </div>
    </article>
  </section>
</div>
