.grid {
  margin-top: 20px;
}

.remove {
  margin-left: 110px;
}

.article {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 100px;
  justify-content: space-evenly;

}

button {
  background-color: aqua;
}

img {
  border-radius: 5px 5px 0 0;
}

.details {
  margin-top: -20px;
  padding: 20px;
  border-radius: 0 0 5px 5px;
  background-color: aqua;
}

.countries {
  box-shadow: 0px -1px 0px 2px #888888;
}

@media (max-width:376px) {

  .countries img {
    width: 250px;
    height: 250px;
  }

  .countries {
    margin-left: -5px;
  }

  .article {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0px;
    justify-content: space-evenly;

  }

  .countries {
    box-shadow: 0px -1px 0px 2px #888888;
  }

  img {
    border-radius: 5px 5px 0 0;
  }

  .details {
    margin-top: 0px;
    margin-bottom: 50px;
    padding: 0px;
    border-radius: 0 0 5px 5px;
    background-color: aqua;
  }

}
