<div class="container">
  <header class="header">
    <div id="head">
      <h1>Where in the world?</h1>
    </div>
    <div id="head" class="leftMoon"><button id="dd">
        <i id='dd' *ngIf='!transferToggle' (click)='onClickk($event)' class="fa fa-moon-o"></i>Change Light</button>
    </div>
  </header>
  <app-header></app-header>
  <app-search></app-search>
</div>
