header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 2px 2px 5px #888888;
  ;
}

#dd,
#dd {
  border: none;
}


#head {
  padding-left: 10px;
  padding-right: 10px;
}

* {
  font-family: 'Nunito Sans', sans-serif;
}

@media (max-width:376px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 236px;
    box-shadow: 2px 2px 5px #888888;
    ;
  }



  #head {
    padding-left: -1px;
    padding-right: -1px;
  }

  h1 {
    font-size: 15px;
  }

  * {
    font-family: 'Nunito Sans', sans-serif;
  }

}

.bb,
#bb {
  border: none;
  color: white;
}

.changeDark {
  background-color: rgb(74, 74, 109);
  color: white;
}

.brightMode {
  background-color: white;
  color: black;
}
